<!DOCTYPE html>
<html lang="en">
  <head>
    {% metagen
    title="Planet ILUGDelhi",
    desc="A collection of articles published by ILUG-D members",
    url="https://linuxdelhi.org/planet",
    img="https://linuxdelhi.org/assets/img/header.png",
    img_alt="ILUGD with Tux",
    twitter_card_type="summary_large_image",
    twitter_handle="ilugdelhi",
    name="ilugdelhi"
    %}
    {% include 'partials/links.njk' %}
  </head>
  <body>
    <button role="switch" tabindex="0" id="theme-switch" class="absolute top-8 right-8
    w-16 h-9 px-0.5 inline-flex items-center transition-colors duration-200 rounded-full bg-gray-500 dark:bg-gray-200
    focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-white
    focus-visible:ring-gray-500">
        <span class="bg-white rounded-full w-8 h-8 transition-all duration-200 dark:bg-black inline-flex items-center justify-center">
          <img src="assets/ic_light.svg" class="w-5 h-5" />
        </span>
    </button>
    {{ content | safe }}
  </body>
</html>