<section class="mx-auto py-40 text-center bg-greenCyan px-5">
  <div class="py-4">
    <p class="font-bold text-5xl text-darkGreenCyan">Planet ILUGDelhi</p> 
  </div>
  <div>
    <p class="text-xl font-medium dark:text-white">A collection of articles published by ILUG-D members</p>
  </div>
</section>