<section class="mx-auto py-40 text-center bg-blue-300 dark:bg-regal-blue px-5">
  <div class="py-4">
    <p class="font-bold text-5xl dark:text-white">Planet ILUG-D</p>
  </div>
  <div>
    <p class="text-xl font-medium dark:text-white">A collection of articles published by ILUG-D members</p>
  </div>
</section>