<footer>
  <div class="py-8 mx-auto bg-darkGrayishBlue item-center text-lightGray">
    <div class="grid grid-cols-1 md:grid-cols-2 max-w-screen-xl mx-auto md:px-20">
      <div class="px-5 w-full text-center md:text-left">
        <p class="text-xl font-semibold">Under the hood</p> 
        <p class="text-base">Meet <b>{{ pkg.name }}</b>, {{ pkg.description }}</p>
        <p class="text-base">Check this project out on <a class="font-semibold" href="{{ pkg.homepage }}">Github</a></p>
      </div>
      <div class="px-5 text-center md:text-right md:py-5"> 
        <p class="text-base">Visit <a class="text-lg font-semibold" href="https://linuxdelhi.org/" target="_blank">linuxdelhi.org</a> to know more</p>
      </div>
    </div>
  </div>
</footer>